/*
 ====================================================
 Description: Landing page for Future of Design - Vectorworks Event.
 Developed by: Martin Nestorov - web developer @ Nemetschek Bulgaria
 Website: https://www.nemetschek.bg
 Date: 13.09.2019
 Version: 0.1
 ====================================================
 */

/**
 * GOOGLE FONTS
 */

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900');

body {
	font-family: "Titillium Web", sans-serif;
}

a, a:active, a:hover {
	color: #01AAA3;
}

a.btn-green {
    font-size: 1.1rem;
    border-radius: 5rem;
    margin: -0.1rem -0.85rem 0 0;
    padding: 0.5rem 3rem;
    color: #ffffff;
    background-color: #01aaa3;
    border-color: #01aaa3;
}

.btn-register {
	color: #fff;
	background-color: #000000;
	border-color: #000000;
	border-radius: 0;
	padding: 10px 55px;
	font-size: 18px;
	float: right;
	clear: both;
	margin-bottom: 30px;
}

p.lead.txt-date {
	float: right;
}

.btn-send {
	color: #fff;
	background-color: #000000;
	border-color: #000000;
	border-radius: 0;
	padding: 10px 55px;
	font-size: 18px;
}

.borders_1 {
    border-top: 2px solid #01aaa3; 
    box-shadow: 2px 0 0 0 #01aaa3;
    height: 75px;
    margin: 15px;
    width: 75px;
}

.btn-dark {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
    border-radius: 0;
    padding: 5px 30px;
}

h4, h5, h6 {
    color:#ffffff;
    font-weight: bold;
}

p {
    font-size: .9rem;
}

small {
    font-size: .6rem;
    color: #A5A5A5;
    line-height: 15px !important;
}

small.survey {
    font-size: .8rem;
    font-weight: bold;
    color: #01AAA3;
    line-height: 15px !important;
}

p.text-upper {
    font-size: 1.3rem;
    text-transform: uppercase;
}

.bold {
    font-weight: 600;
}

.fluffy {
    font-size: 2.85rem;
    font-weight: bold;
}

h1.fluffy {
    font-size:3rem;
    font-weight: 700;
    line-height: 1.3;
}

p.lead {
    font-size:1.2rem; 
}

p.lead.one > span.fluffy {
    font-size:5.35rem; 
    font-weight: bold;
    line-height: 5.5rem;
    color: #ffffff;
}

p.lead.two > span.fluffy {
    font-size:1.85rem; 
    font-weight: bold;
    line-height: 1.5rem;
    color: #ffffff;
}

span.fluffy {
    font-size: 3rem;
    font-weight: normal;
    color: #01AAA3;
}

.spacer {
    margin-bottom: 2.8rem;
}

.border-spacer {
    margin: 20px 0;
    border-bottom: 2px solid #01AAA3;
}

.border-horizontal {
    border-bottom: 2px solid #01AAA3; 
}

/**
 * BACKGROUNDS
 */

.bg-white {
 	background-color: #ffffff;
 }

.bg-dark {
    background-color: #000000 !important;
}

.bg-green {
	background-color: #01aaa3;
	opacity: 0.8;
}

/**
 * COLORS
 */
 .green {
	color: #01aaa3;
 }

/**
 * GOOGLE MAP
 */

.map-responsive{
    overflow: hidden;
    position: relative;
    height: 350px;
}

.map-responsive iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/**
 * SURVEY FORM
 */

form {
    border: none !important;
} 

#survey_registration input[type="text"],
#survey_registration input[type="tel"],
#survey_registration input[type="email"],
#survey_registration select {
    background-color: #ffffff;
    border: 1px solid #01AAA3;
    border-radius: 5rem;
    padding: 0.5rem 1.5rem;
}

#survey_registration textarea,
#survey_registration select[multiple]  {
    background-color: #ffffff;
    border: 1px solid #01AAA3;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
}

#survey_registration textarea {
    height: 200px;
}

#survey_registration input[type="text"]::placeholder,
#survey_registration input[type="tel"]::placeholder,
#survey_registration input[type="email"]::placeholder {
    color: #343a40;
    font-size: 1.1rem;
}

.navbar-dark-bg {
    background: black;
    padding: 15px 0;
}

/**
 * REGISTER FORM
 */

input[type="text"],
input[type="tel"],
input[type="email"] {
    background-color: #ffffff;
    border: none;
    border-radius: 0;
	padding: 1rem 1.5rem;
	height: 49px;
 }

input[type="text"]::placeholder,
input[type="tel"]::placeholder,
input[type="email"]::placeholder {
    color: #ced4da;
    font-size: 1.1rem;
}

.form-control {
    color: #01AAA3;
}

img.wpcf7-captchac {
    border-radius: 5rem;
    margin-bottom: 0.5rem;
}
.wpcf7-select {
	height: 45px !important;
    border-radius: 0;
	background-clip: inherit;
}
input[type="submit"].btn-green,
button.btn-green {
    font-size: 1.1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #01AAA3;
    border-radius: 5rem;
    padding: 0.5rem 1.7rem;
}

div.wpcf7-validation-errors { 
    display: none !important; 
}

span.wpcf7-not-valid-tip { 
    display: none; 
}

div.wpcf7-response-output.wpcf7-mail-sent-ok {
    padding: .8rem;
    border: 1px solid #01AAA3;
    background: #ffffff;
    color: #01AAA3;
    border-radius: 0;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

input[aria-invalid="true"], 
select[aria-invalid="true"] { 
    border-color: red;
    background-color: rgba(251, 80, 59, 1); 
}

input[aria-invalid="true"]::placeholder, 
select[aria-invalid="true"]::placeholder { 
    color: #ffffff;
    border-color: red;
    background-color: rgba(251, 80, 59, 1); 
}

div.screen-reader-response { 
    display: none; 
}

li.list-group-item::before {
  content: "•";
  padding-right: 18px;
  color: #ffffff;
}

/**
 * NAVIGATION
 */

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    padding: 15px 15px;
    opacity: 0.5;
}

.navbar-dark .navbar-nav .nav-link {
    font-weight: normal;
    font-size: 1.05rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 1.2rem;
	padding-left: 1.2rem;
}

.navbar-dark .navbar-toggler {
    border: none;
}

.navbar-dark-bg {
    background: black;
}

#navbarResponsive > ul > li > a {
	color: #ffffff;
    border-bottom: 2px solid transparent;
    z-index: 300;
}

#navbarResponsive > ul > li > a:active, 
#navbarResponsive > ul > li > a:hover, 
#navbarResponsive > ul > li > a.active {
	color: #ffffff;
	text-decoration: none;
    border-bottom: 2px solid #01AAA3;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(1, 170, 163, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/**
 * SECTIONS
 */

header {
	padding: 20rem 0 0;
	background: url("../../assets/images/bgs/top.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
	height: auto;
}

#header {
	padding: 145px 0 60px;
    background: #000000;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

section {
  	padding: 30px 0;
}

footer {
    padding: 15px 0 45px;
    background-color: #000000;
}

/**
 * RESPONSIVE STYLE
 */

@media only screen and (max-width: 480px) {
    .hide-on-mobile {
        display: none !important;
        visibility: hidden !important;
    }
    .navbar-overlay {
        margin-bottom:0px;
        z-index: 1;
        background: rgba(0, 0, 0, 1);
    }
	#header {
		padding: 20px 0 60px;
	}
	.btn-register {
		padding: 10px 55px;
		font-size: 14px;
		float: left!important;
		clear: both;
		margin-bottom: 15px;
	}
	p.lead.txt-date {
		font-weight: bold;
		font-size: 18px;
		float: left!important;
	}
	a.navbar-brand {
		padding-left: 15px;
	}
}

@media only screen and (max-width: 767px) {
    header {
		padding: 35px 0 0!important;
	}
	h1.fluffy {
		font-size: 2rem;
	}
	p.lead {
		font-size: .9rem; 
	}
	button.btn-register {
		padding: 10px 55px;
		font-size: 14px;
		float: left!important;
		clear: both;
		margin-bottom: 15px;
	}
	p.lead.txt-date {
		font-weight: bold;
		font-size: 18px;
		float: left !important;
	}
	#header {
		padding: 20px 0 60px;
	}
    #navbarResponsive > ul > li a  {
        text-transform: uppercase !important;
        padding-left: 0 !important;
        margin-top: 30px !important;
        border-bottom: 1px solid #D4D5D6;
        width: 98%;
    }
    .navbar-overlay {
        margin-bottom:0px;
        z-index: 1;
        background: rgba(0, 0, 0, 1);
    }
    footer {
        text-align: center !important;
    }
    p.hide-on-mobile {
        display: none !important;
        visibility: hidden !important;
    }
	a.navbar-brand {
		padding-left: 15px;
	}
}

@media only screen and (min-width: 992px) {
  	.navbar-expand-lg .navbar-nav .nav-link {
	    padding-right: 1.2rem;
	    padding-left: 1.2rem;
	}
}

@media only screen and (max-width: 992px) {
    #navbarResponsive > ul > li a  {
        text-transform: uppercase !important;
        padding-left: 0 !important;
        margin-top: 30px !important;
    }
    .navbar-overlay {
        margin-bottom:0px;
        z-index: 1;
        background: rgba(0, 0, 0, 1);
    }
}

/* Scroll to top */

.scrollToTop {
    width: 50px;
    padding: 0.8rem;
    text-align: center;
    background: #01AAA3;
    border-radius: 5rem;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: none;
}

.scrollToTop:hover {
    text-decoration: none;
    color: #ffffff;
    background: #01AAA3;
}

/* Scrollbar */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: #fff !important
}

::-webkit-scrollbar {
    width: 12px;
    background-color: rgb(233,236,239) !important
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgb(233,236,239) !important
}

.alert-primary {
    color: #01aaa3;
    background-color: #fff;
    border-color: #000;
    border-width: 2px;
}